mixin nav__link(list,className)
        each link in list
            a(href='#'+link class=className)=link


mixin gallery(scr_img,class__img,alt_img,class__item,class__link)
        each src_link,alt_number in scr_img
            li(class=class__item)
                a(class=class__link href=src_link)
                    img(class=class__img src=src_link alt=alt_img+' '+alt_number)
